<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body class="container">

        <header>
            <%- include('../partials/header'); %>
        </header>

        <!-- About Me page -->
        <main>
            <div class="jumbotron" style="background-color: #DAE5D0; text-align: center;">
                <img src="/images/profile.jpg" alt="Jay's Profile Image"  class="profileImage">
                <h1></h1>
                <h3 class="name">Jay Patel</h3>
                <h4 class="name">(Web Developer)</h4>
                <h1></h1>
                <p class="content">Innovative, task-driven professional with 1+ years of experience in web design and development <br> across diverse industries. Equipped with a record of success in consistently identifying and<br> providing the technological needs of companies through ingenious innovation Proficient in developing databases, <br> creating user interfaces, writing and testing codes, troubleshooting simple/complex issues, and implementing new features based on user feedback.</p>
            </div>
        </main>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>

    </body>
</html>