<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body class="container">

        <header>
            <%- include('../partials/header'); %>
        </header>
        <!-- Welcome Page -->
        <main>
            <div class="jumbotron" style="background-color: #DAE5D0; text-align: center;">
                <h1>Hi there!</h1>
                <p class="p1">My Name is Jay Patel and I'm really excited to welcome you on this portfolio website.</p>
                <a class="nav-link" href="/about">
                    <button class="button" data-label="Click Me">About Me</button>
                </a>    
            </div>
        </main>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>

    </body>
</html>