<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body class="container">

        <header>
            <%- include('../partials/header'); %>
        </header>

        <!-- Projects -->
        <main>
            <div class="jumbotron" style="background-color: #DAE5D0; text-align: center;">
                <h1>PROJECTS</h1>
                <img src="/images/mekonomen.png" alt="Project 1" class="projectPic mt-5">
                <p class="content mt-3">Mekonomen is an E-commerce spanish website. <br>Role : Junior Laravel Developer.<br> Technologies : php, laravel, UI/UX, magento etc. </p>
                <img src="/images/digip.png" alt="Project 1" class="projectPic mt-5">
                <p class="content mt-3">Mekonomen is an security service based website. <br>Role : Junior Laravel Developer.<br> Technologies : laravel, UI/UX, magento etc. </p>
                <img src="/images/jean.png" alt="Project 3" class="projectPic mt-5">
                <p class="content mt-3">Mekonomen is an E-commerce UK based website. <br>Role : Junior Laravel Developer.<br> Technologies : php, laravel, UI/UX, Wordpress etc. </p>
            </div>
        </main>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>

    </body>
</html>
