<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body class="container">

        <header>
            <%- include('../partials/header'); %>
        </header>

        <!-- Services -->
        <main>
            <div class="jumbotron" style="background-color: #DAE5D0; text-align: center;">
                <h1>SERVICES</h1>
                <div class="row mt-5">
                    <div class="column">
                      <img src="images/cloud.jpg" alt="Cloud Computing" style="width:100%">
                      <h4 class="mt-2 services">Cloud Services</h4>
                    </div>
                    <div class="column">
                      <img src="images/consulting.jpg" alt="IT Consulting" style="width:100%">
                      <h4 class="mt-2 services">IT Consulting</h4>
                    </div>
                    <div class="column">
                      <img src="images/network.jpg" alt="Network security" style="width:100%">
                      <h4 class="mt-2 services">Network security</h4>
                    </div>
                </div>    
            </div>
        </main>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>

    </body>
</html>
