<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body class="container">

        
        <!-- Welcome Page -->
        <main>
            <div class="jumbotron" style="background-color: #DAE5D0; text-align: center;">
               <p>welcome</p>
            </div>
        </main>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>

    </body>
</html>